data
model
ssd_inception_v2_coco_2018_01_28
utils
hello_again_test.py
ringbuffer_class.log
test_buffer.py
.idea/.gitignore
.idea/helloPerson.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/ringbuffer.cpython-37.pyc
__pycache__/sayhello.cpython-37.pyc
